<!DOCTYPE html>
<html>
<head>
  <title>MograTwitterServer</title>
  <meta name="viewport" content="target-densitydpi=device-dpi; width=640px; user-scalable=0;">
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
<body>

<%= yield %>

<%= javascript_include_tag 'application' %>
</body>
</html>
